.nav-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 22px;
}

.nav-link:hover {
border-bottom: rgba(203, 209, 15, 0.323) 2px solid ;

}


a.active{
    background-color:rgba(194, 200, 34, 0.423);
    color: black;
 
}
.title1{
    font-family: Simula,serif;
  
    font-feature-settings: "lnum";
    font-variant: lining-nums;
    font-size: 8vh;
    text-align: center;
   
    margin-top: 15%;
    display: flex;
    letter-spacing: .8px;
    color: black;
 
  animation: title1 1s ease-in-out infinite alternate;
}

@keyframes title1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gray, 0 0 40px gray, 0 0 50px gray, 0 0 60px gray, 0 0 70px gray;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
  }
}
 

.title2{
    font-family: Graphik,serif;
   
    
    text-align: center;

    font-size: 6vh;
    
    letter-spacing: .8px;
    animation: title2 1s ease-in-out infinite alternate;
    color: black;
}
@keyframes title2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gray, 0 0 40px gray, 0 0 50px gray, 0 0 60px gray, 0 0 70px gray;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
    }
  }
.process{
    margin-top:10% ;
    display: inline-flex;
    margin-right: 6%;
    margin-left: 6%;
    text-align: left;
    
}
.process1{
    margin-top:10% ;
    display:flex;
    margin-right: 6%;
    
    text-align: left;
}
.embla {
    overflow: hidden;
    
    left: auto;
  }
  .embla__container {
    display: flex;
    transition: transform 0.2s;
  }
  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
    max-width: 100%;
    transition: transform 0.2s;
}

.process-img{
   
  
    width:  40vw;
    height: 20vw ;
    object-fit: cover;
  }

.process-title{
    margin-top: 6.5%;
    font-size: 2vw;
    font-family: ABC Monument Grotesk,sans-serif;
    white-space: nowrap;
    display: flex;
    margin-left: 10%;
    text-align: center;
}

.process-description{
font-family: Simula,serif;
margin-right: 5%;
margin-left: 5%;
   display: flex;
   width: 80%;
   font-size: 2.5vw;
   text-align: left;
   animation: fades linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}
.process-description1{
    font-family: Simula,serif;
    margin-right: 5%;
    margin-left: 30%;
       display: flex;
       width: 80%;
       font-size: 2.5vw;
       text-align: left;
       animation: fades linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }
    
@keyframes fades{
    from{
        opacity: 0;;
    }
    to{
        opacity: 1;
    }
}